.cel-container {
  display: none;
}

.not-container {
  display: block;
  width: 45%;
  height: 100%;
  padding: 15px;
  background-color: var(--light-color);
  border-radius: 10px;
  margin-inline: auto;
}

@media (max-width: 840px) {
  .cel-container {
    display: block;
    width: 98%;
    height: 100%;
    padding: 15px;
    background-color: var(--light-color);
    border-radius: 10px;
    margin-inline: auto;
  }

  .not-container {
    display: none;
  }
}
