:root {
  --primary-color: hsl(var(--color) 60% 50%);
  --primary-color-dark: hsl(var(--color) 51% 38%);
  --primary-color-light: hsl(var(--color) 59% 85%);
  --gray-color: hsl(var(--color) 38% 92%);
  --light-color: #fcfcfc;
  --dark-color: #252525;
}

html,
body {
  background-color: var(--primary-color-light) !important;
  font-size: 13px;
}

.label-primary {
  color: var(--primary-color) !important;
}

.bt-primary {
  background-color: var(--primary-color) !important;
  color: var(--light-color) !important;
}

.bt-primary:hover {
  background-color: var(--primary-color-dark) !important;
  color: var(--light-color) !important;
}

select {
  cursor: pointer;
}

input[disabled],
input[readonly] {
  cursor: default !important;
}

.navbar div.btn-group {
  display: block !important;
}

.dropdown-item {
  transition: 0.2s;
}

.dropdown-item:hover {
  background-color: var(--primary-color) !important;
  color: var(--light-color) !important;
}

.dropdown-menu[data-bs-popper] {
  left: -96px !important;
}

table {
  width: 100% !important;
}

.w-45 {
  width: 48%;
  margin: 5px;
}

.w-40 {
  width: 43%;
}

table,
td,
th {
  border: 0.5px solid var(--dark-color) !important;
}

a {
  text-decoration: none !important;
}

.bgr-primary {
  background-color: var(--primary-color);
}

.justfy-center {
  display: contents;
}

input[type='checkbox'] {
  all: unset;
  border: 0.1px solid var(--dark-color);
  width: 10px;
  height: 10px;
  display: inline-block;
  transition: all 0.3s;
  border-radius: 3px;
}

input[type='checkbox']:checked {
  background-color: var(--primary-color);
}

input[type='checkbox']:checked:hover {
  background-color: var(--primary-color-dark);
}

input:focus,
select:focus {
  border-color: var(--primary-color-light) !important;
  box-shadow: 0 0 0 0.2rem var(--primary-color-light) !important;
}

::-webkit-scrollbar {
  background-color: var(--gray-color);
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-dark);
}

.load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--light-color);
  z-index: 5000;
}

.stay-close {
  display: none;
}

.stay-open {
  display: block;
}

.load.close {
  animation: descer 0.3s;
}

.load.open {
  animation: subir 0.3s;
}

@keyframes descer {
  from {
    top: 0;
  }

  to {
    top: 100vh;
  }
}

@keyframes subir {
  from {
    top: 100vh;
  }

  to {
    top: 0;
  }
}

@media (max-width: 840px) {
  .justfy-center {
    display: block;
  }

  .justfy-center input {
    margin: 0 !important;
  }

  .w-45 {
    width: 100%;
  }
}
